<div class="container bigfooter">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/home.html" alt="">Home</a></li>
        <li><a href="{{ site.baseurl }}/news.html" alt="">News</a></li>
        <li><a href="{{ site.baseurl }}/karate.html" alt="">Karate</a></li>
        <li><a href="{{ site.baseurl }}/trainer.html" alt="">Trainer</a></li>
        <li><a href="{{ site.baseurl }}/zeiten.html" alt="">Zeiten</a></li>
        <li><a href="{{ site.baseurl }}/anfahrt.html" alt="">Anfahrt</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/bilder.html" alt="">Bilder</a></li>
        <li><a href="{{ site.baseurl }}/termine.html" alt="">Termine</a></li>
        <li><a href="{{ site.baseurl }}/literatur.html" alt="">Literatur</a></li>
        <li><a href="{{ site.baseurl }}/links.html" alt="">Links</a></li>
        <li><a href="{{ site.baseurl }}/kontakt.html" alt="">Kontakt</a></li>
        <li><a href="{{ site.baseurl }}/impressum.html" alt="">Impressum</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <p>{{ site.description }}</p>
    </div>
  </div>

</div>
