    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if site.baseurl == '/index.html' %}active{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/news.html">News</a></li>
            <li><a href="{{ site.baseurl }}/karate.html">Karate</a></li>
            <li><a href="{{ site.baseurl }}/trainer.html">Trainer</a></li>
            <li><a href="{{ site.baseurl }}/zeiten.html">Zeiten</a></li>
            <li><a href="{{ site.baseurl }}/anfahrt.html">Anfahrt</a></li>
            <li><a href="{{ site.baseurl }}/bilder.html">Bilder</a></li>
            <li><a href="{{ site.baseurl }}/termine.html">Termine</a></li>
            <li><a href="{{ site.baseurl }}/literatur.html">Literatur</a></li>
            <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
            <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
            <li><a href="{{ site.baseurl }}/impressum.html">Impressum</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
