
<div class="container smallfooter">
  <hr>
  <div class="row">
    <div class="col-md-5">
      <p>Hochschulsport &middot; Abt. Karate<br>
        Copyright &copy; {{ site.time | date: "%Y" }} &middot; All rights reserved &middot;
        <a href="{{ site.url }}">{{ site.title }}</a></p>
    </div>
	<div class="col-md-5">
    </div>
    <div class="col-md-2">
		<p><a href="https://www.facebook.com/groups/336657203122649/" target="_blank"><img src="{{ site.baseurl }}/images/facebook-icon.png" alt="Facebook" width="38"></a> <img src="{{ site.baseurl }}/images/mail-icon.png" alt="Email" width="38"> <img src="{{ site.baseurl }}/images/github-icon.png" alt="GitHub" width="38"> <img src="{{ site.baseurl }}/images/skype-icon.png" alt="Skype" width="38"></p>
    </div>

  </div>
</div>
